@using Authentication.Controllers
@using Authentication.Utilities.Helpers
@model Authentication.PresentationModels.Admin.ViewModels.EditRoleViewModel

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title text-primary">
          <i class="fa fa-info-circle"></i> Role Information
        </h3>
      </div>
      <div class="card-block">
        <form asp-controller="@(Helper.NameOfController<AdminController>())" asp-action="@(nameof(AdminController.EditRole))" method="post">
          <input asp-for="Role.Id" name="Id"/>
          <strong>
            <label asp-for="Role.Name" class="form-control-label text-muted"></label>
          </strong>
          <div class="form-group row">
            <div class="col-md-7">
              <input asp-for="Role.Name" class="form-control form-control-sm" name="Name"/>
              <span asp-validation-for="Role.Name" class="text-danger"></span>
            </div>
            <div class="col-md-1">
              <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Update Name </button>
            </div>
          </div>
        </form>

        <div>
          <div>
            <strong>
              <label asp-for="Role.Id" class="form-control-label text-muted"></label>
            </strong>
          </div>
          <p>
            @Model.Role.Id
          </p>
        </div>

        <div>
          <div>
            <strong>
              <label asp-for="DateCreated" class="form-control-label text-muted"></label>
            </strong>
          </div>
          <p>
            @Model.DateCreated
          </p>
        </div>

        <div>
          <div>
            <strong>
              <label asp-for="DateUpdated" class="form-control-label text-muted"></label>
            </strong>
          </div>
          <p>
            @Model.DateUpdated
          </p>
        </div>
      </div>
    </div>
  </div><!--/col-->

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title text-primary">
          <i class="fa fa-plus"></i> Add Role Claim
        </h3>
      </div>
      <div class="card-block">
        <div>
          <form asp-controller="@(Helper.NameOfController<AdminController>())" asp-action="@(nameof(AdminController.AddRoleClaim))" method="post">
            <input asp-for="RoleClaim.RoleId"/>
            <strong>
              <label asp-for="RoleClaim.Type" class="form-control-label text-muted"></label>
            </strong>
            <div class="form-group row">
              <div class="col-md-12">
                <input asp-for="RoleClaim.Type" class="form-control form-control-sm"/>
                <span asp-validation-for="RoleClaim.Type" class="text-danger"></span>
              </div>
            </div>
            <strong>
              <label asp-for="RoleClaim.Value" class="form-control-label text-muted"></label>
            </strong>
            <div class="form-group row">
              <div class="col-md-12">
                <input asp-for="RoleClaim.Value" class="form-control form-control-sm"/>
                <span asp-validation-for="RoleClaim.Value" class="text-danger"></span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-1">
                <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Add Role Claim</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div><!--/col-->
</div><!--/row-->

<br/>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title text-primary"><i class="fa fa-edit"></i> Role Claims</h3>
      </div>
      <div class="card-block">
        <div>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>

<div class="row">
  <div class="offset-11">
    <button type="button" class="btn btn-primary btn-group-lg">Done</button>
  </div>
</div>