@model Authentication.PresentationModels.Admin.ViewModels.AdminViewModel


<div class="row">
  <div class="col-sm-12">
    <h3><i class="fa fa-search"></i> Search</h3>
  </div> <!--/col-->

  <div class="col-sm-6">
    @Html.Partial("_Search", Model.AddUser)
  </div><!--/col-->
</div><!--/row-->

<br/>
<br/>

<div class="row">
  <div class="col-sm-12">
    <h3><i class="fa fa-user-plus"></i> Add User</h3>
  </div><!--/col-->

  <div class="col-sm-6">
    @Html.Partial("_AddUser", Model.AddUser)
  </div><!--/col-->
</div><!--/row-->

<br/>
<br/>

<div class="row">
  <div class="col-sm-12">
    <h3><i class="fa fa-plus"></i> Add Role</h3>
  </div><!--/col-->

  <div class="col-sm-6">
    @Html.Partial("_AddRole", Model.AddRole)
  </div><!--/col-->
</div><!--/row-->

<br/>
<br/>

<div class="row">
  <div class="col-sm-6">
    <h3><i class="fa fa-users"></i> Recent Users</h3>
  </div><!--/col-->

  <div class="col-sm-6">
    <h3><i class="fa fa-unlock-alt"></i> Recent Roles</h3>
  </div><!--/col-->

  <div class="col-sm-6">
    @Html.Partial("_UserSummary", Model.AddRole)
  </div><!--/col-->

  <div class="col-sm-6">
    @Html.Partial("_RoleSummary", Model.AddRole)
  </div><!--/col-->
</div><!--/row-->